<!-- src/app/shared/components/auth-layout/auth-layout.component.html -->
<div
  style="
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    background-color: black;
  "
>
  <!-- Logo positioned at top-left of entire screen -->
  <div style="width: 50%; position: realative; display: block">
    <img src="" alt="Logo" class="h-12 w-auto" [src]="imageUrl" />
  </div>

  <div>
    <div class="space-y-6">
      <ng-content></ng-content>
    </div>
  </div>
</div>
